@tailwind base;
@tailwind components;
@tailwind utilities;


img{
    object-fit: cover;
}

@font-face {
    font-family: 'SansFrans';
    src: url('/public/fonts/san_francisco-webfont.woff') format('woff2');
}


.chat_container{
    @apply fixed w-[95%] left-[2.5%] h-[85%] border border-solid border-gray-500 mt-5 sm:mt-10 flex flex-nowrap rounded-xl p-2;
}

/* Chatbox */
.chatbox_container{
    @apply relative w-[75%] h-full;
}

.chatbox_header{
    @apply absolute top-0 border-b border-solid border-gray-500 h-16 w-full;
}

/* chatbox body */
.chatbox_body{
    @apply absolute top-16 w-full overflow-y-auto p-3 overflow-hidden mt-[3px];
    height: calc(81vh - 4rem - 3rem);
}


/* footer */
.chatbox_footer {
    @apply absolute bottom-0 border-t border-solid w-full h-16 flex flex-nowrap bg-white;
}

.control:focus{
    box-shadow: none;
    outline: none;
    border-style: none;
}

/* ChatList */
.chatlist_container{
    @apply w-[25%] h-full border-r border-solid border-gray-500 rounded-xl;
}

.chatlist_header{
    @apply border-b border-solid border-gray-500 h-16;
}

.font-roboto{
    font-family: 'Roboto';
}

.info_item{

    @apply my-[1px] mx-0 sm:mx-3 py-1 px-2 cursor-pointer;
}

.info_item:hover{
    color: #2b9cff;
}

.msg_body_me{
    margin-left: auto;
    background-color: #ececec;
    border-bottom-right-radius: 0 !important;
}

.msg_body_receiver{
    background-color: #2b9cff;
    color: white;
    border-bottom-left-radius: 0 !important;
}

/* .chatlist_body{
    @apply
} */

